* {
	letter-spacing: 0 !important;
	padding: 0;
	margin: 0;
}

/* Overall body and HTML */

/* ------------------------------------------------------- */

body,
html {
	overflow-x: hidden;
	height: 100%;
}

/* NAVBAR */

/* ------------------------------------------------------- */

/* CENTER SCREEN */

.profiles-gate-container {
	text-align: center;
	display: block;
	justify-content: center;
	align-items: center;
}

.profile-gate-label {
	font-family: Arial, Helvetica, sans-serif;
	color: aliceblue;
}

.centered-div {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	position: absolute;
	z-index: 2;
}

.list-profiles {
	color: aliceblue;
	font-size: calc(3.5vw + 12px);
	width: 100%;
	max-width: 80%;
}

ul {
	display: block;
	margin: 1px;
	padding: 1px;
}

li {
	list-style: none;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: -webkit-match-parent;
	margin: 1px;
	padding: 1px;
}

.profile {
	list-style: none;
}

.set-profile {
	border: 3px solid grey;
	border-radius: 10px;
	width: 10vw;
	height: 10vw;
	min-height: 110px;
	min-width: 110px;
	display: block;
	justify-content: center;
	align-items: center;
	background-image: url(../../Images/icons/DemoProfile.png);
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: center;
	background-size: 101%;
	margin-bottom: -20%;
}

.set-profile:hover {
	border: 3px solid aliceblue;
}

.set-new-profile {
	border: 3px solid grey;
	border-radius: 10px;
	width: 10vw;
	height: 10vw;
	min-height: 110px;
	min-width: 110px;
	display: block;
	background-image: url(../../Images/displayIcons/NewProfile.png);
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: center;
	background-size: 101%;
	filter: opacity(0.2) drop-shadow(0 0 0 grey);
	margin-bottom: -20%;
}

.set-new-profile:hover {
	border: 3px solid aliceblue;
	filter: opacity(1) drop-shadow(0 0 0 rgb(255, 255, 255));
}

.profile-button {
	background-color: transparent;
	border: 1px solid grey;
	color: grey;
	font-size: calc(0.6vw + 12px);
	margin-top: 10px;
	padding: 10px 35px;
	text-decoration: none;
	display: inline-block;
	justify-content: center;
	align-items: center;
	position: relative;
	cursor: pointer;
}

.profile-button:hover {
	border: 1px solid aliceblue;
	color: aliceblue;
}

.profileName {
	text-align: center;
	font-size: calc(20% + 10px);
	padding-top: 15%;
	margin-top: 20px;
	display: block;
	color: grey;
}

.set-profile:hover ~ .profileName,
.set-new-profile:hover ~ .profileName {
	color: aliceblue;
}

.profile-link {
	text-decoration: none !important;
}

/* ------------------------------------------------------- */

/* WHOS WATCHING */

/* ------------------------------------------------------- */

/* PROFILES */

/* ------------------------------------------------------- */
