/* Carousel NumOne */
*.unsel {
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sectionHeader {
  color: white;
}

.carouselNumOne {
  position: relative;
  overflow-x: hidden;
}

.CBN1 {
  height: 250px;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  padding-bottom: 10px !important;
  display: flex;
  align-items: center;
}

.CBN1 img {
  height: 200px;
  background-size: cover;
  margin: 0px;
  padding-right: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  z-index: 1;
}

.CBN1 img:hover {
  transform: scale(1.4);
  z-index: 2;
}

/* ------------------------------------------ */
/* popup** */
#change-wrapper {
  height: 30vw;
  width: 40vw;
  justify-content: center;
  margin: auto;
}

#change-icon {
  height: 5vw;
  width: 100%;
}

.change-icon-text {
  font-size: 2.5vw;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  border-bottom: 1px solid rgba(73, 67, 67, 0.5);
  text-align: center;
  padding-top: 5%;
}

#center-icons {
  height: 12vw;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  justify-content: space-between;
  display: flex;
}

#current-profile {
  height: 100%;
  aspect-ratio: 1/1;
}

.set-profile {
  border-radius: 10px;
  background-image: url(/Images/icons/DemoProfile.png);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-size: 101%;
}

#change-to {
  height: 100%;
  width: 9vw;
  justify-content: center;
}

.Rarrow {
  border-radius: 10px;
  color: aliceblue;
  background-image: url(/Images/displayIcons/Rarrow.png);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-size: 25%;
}

#new-profile {
  height: 100%;
  aspect-ratio: 1/1;
}

.new-profile {
  border-radius: 10px;
  background-image: url(/Images/icons/DemoProfile.png);
  background-repeat: no-repeat;
  background-attachment: absolute;
  background-position: center;
  background-size: 101%;
}

#change-buttons {
  border-top: 1px solid rgba(73, 67, 67, 0.5);
  height: 5vw;
  width: 100%;
  margin-top: 10%;
}

.button-wrapper {
  justify-content: center;
  display: block;
  margin-right: 10vw;
  margin-left: 10vw;
  padding-top: 2vw;
}

.continue-button {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: aliceblue;
  border: 0px;
  margin-right: 1vw;
}

.continue-button:hover {
  color: aliceblue;
  background-color: red;
}

.cancel-button {
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 0.5vw;
  padding-bottom: 0.5vw;
  vertical-align: middle;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  background-color: rgb(20, 20, 20);
  border: 1px solid grey;
  margin-right: 0.3vw;
}

.cancel-button:hover {
  border: 1px solid aliceblue;
  color: aliceblue;
}/*# sourceMappingURL=chooseIcon.css.map */