.header {
    position: relative;
    margin-top: 1px;
}

.browseSpacer {
    padding: 1.1%;
}

#testlink {
    font-weight: bold;
    color: white;
    float: right;
    position: relative;
    vertical-align: middle;
    margin-top: .5%;
}


/* movie section */

pre,
label,
p {
    color: aliceblue;
    font-size: 20px;
    visibility: visible;
}