/* TEMP */

#testlink {
    font-weight: bold;
    color: white;
    float: right;
    position: relative;
    vertical-align: middle;
    margin-top: .5%;
}


/* * {
    outline: 1px solid red;
} */


/* Overall body and HTML */


/* ------------------------------------------------------- */

body,
html {
    overflow-x: hidden;
    height: 100%;
}

body {
    background-color: rgb(20, 20, 20) !important;
}


/* NAVBAR */


/* ------------------------------------------------------- */

.header {
    background-color: rgb(20, 20, 20);
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255, 0));
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

#browse {
    color: green;
    outline: 2px solid red;
    font-weight: 600;
    text-decoration: none;
}

#browse:hover {
    color: blue;
}


/* Video Trailer */


/* ------------------------------------------------------- */

.trailer {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    z-index: -1;
}

.trailer-wrapper {
    position: relative;
    width: 100%;
}

.trailer-wrapper::after {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 0%;
    content: '';
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, rgb(0, 0, 0, 1) 10%);
}

.carousel-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 33vw;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
}


/* Video buttons */


/* ------------------------------------------------------- */

#btn-tst {
    opacity: .08;
    height: 50px;
    width: 50px;
    top: 30vw;
    left: 90vw;
    position: absolute;
    border-radius: 90%;
    background-image: url('/Images/icons/music-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    background-position-x: 6px;
    border: 2px solid black;
    background-color: aliceblue;
    -webkit-transition: -webkit-border-radius 0.5s ease-in;
    -moz-transition: -moz-border-radius 0.5s ease-in;
    -o-transition: border-radius 0.5s ease-in;
    -ms-transition: border-radius 0.5s ease-in;
    transition: border-radius 0.5s ease-in;
}

#btn-tst:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transform: opacity(.08);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#btn-tst:not(:hover) {
    opacity: .08;
    transition: 1s;
}

#btn-img {
    background-image: url('/Images/icons/music-svgrepo-com.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}


/* Genre Styling */


/* ------------------------------------------------------- */

.browseSpacer {
    padding: 1.1%;
}

.sectionHeader {
    color: white;
}


/* right dropdown Styling */

.right-dropdown-wrapper {
    height: 100%;
    vertical-align: middle;
    float: right;
}

.account-dropdown {
    height: 32px;
    width: 32px;
    background-image: url(/Images/profilePictures/Futurama/3-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 10px;
    margin-right: 5vw;
    position: relative;
    vertical-align: middle;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 200px;
    right: 90px;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    z-index: 5;
    justify-content: center;
    opacity: .85;
    border: 1px solid rgba(73, 67, 67, 0.5);
}

.right-dropdown-wrapper:hover .dropdown-content {
    display: block;
}

.dropdown-inner {
    height: 100%;
    width: 100%;
    padding: 5%;
    display: inline-block;
}

.dropdown-line a {
    width: 100%;
    height: 100%;
    font-size: 13px;
    padding: 12px 0px 12px;
    color: aliceblue;
    text-decoration: none;
}

.dropdown-line img {
    font-size: 13px;
    margin-right: 5%;
    color: aliceblue;
    text-decoration: none;
}

.dropdown-line {
    display: inline-flex;
    height: 100%;
    width: 100%;
}

.dropdown-Leave {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.dropdown-Leave a {
    width: 100%;
    font-size: 13px;
    color: aliceblue;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
}

.dropdown-img-s {
    width: 25px;
    height: 25px;
}

.dropdown-tool-s {
    width: 25px;
    height: 25px;
}

.dropdown-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 20%;
    margin-top: auto;
    margin-bottom: auto;
}

.piO1 {
    background-image: url(/Images/profilePictures/Futurama/3-4.png);
}

.piMP {
    background-image: url(/Images/icons/gear-svgrepo-com.svg);
    position: relative;
}

.piMP:hover {
    position: relative;
    animation: infinite;
    -webkit-animation: piMP-rotate 5s infinite linear;
}

.piHC {
    background-image: url(/Images/icons/help-svgrepo-com.svg);
}

.piHC:hover {
    position: relative;
    animation: infinite;
    -webkit-animation: piHC-scale .5s;
}

.piBP {
    background-image: url(/Images/icons/back-svgrepo-com.svg);
    z-index: 1;
}

.piBP:hover {
    animation-name: in;
    animation-duration: .5s;
    animation-iteration-count: initial;
    transform: translateX(+10px);
    transition: transform 4s;
}

.dropdown-ignore-leave {
    padding-bottom: 5%;
    border: 1px solid rgba(73, 67, 67, 0.5);
}

@keyframes piMP-rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes piHC-scale {
    0% {
        -webkit-transform: scale(100%);
    }
    50% {
        -webkit-transform: scale(120%);
    }
    100% {
        -webkit-transform: scale(100%);
    }
}

@keyframes in {
    100% {
        -webkit-transform: translateX(+10px)
    }
}

@keyframes out {
    100% {
        -webkit-transform: translateX(0px)
    }
}


/* ------------------------------------------------------- */


/* Carousel NumOne */

*.unsel {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carouselNumOne {
    position: relative;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
}

.CBN1 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN1 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN1 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselNumOne .CBN1 .switchRightNumOne {
    position: absolute;
    right: 0px;
}

.carouselNumOne .CBN1 .switchLeftNumOne {
    position: absolute;
    left: 48px;
}

.CBN1 .switchRightNumOne .rArrow:hover,
.CBN1 .switchLeftNumOne .lArrow:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselNumOne .CBN1 .switchLeftNumOne:hover,
.carouselNumOne .CBN1 .switchRightNumOne:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselNumOne .CBN1 .switchLeftNumOne,
.carouselNumOne .CBN1 .switchRightNumOne {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowNumOne,
.lArrowNumOne {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN1:hover>.switchRightNumOne>.rArrowNumOne {
    opacity: 1;
}

.CBN1:hover>.switchLeftNumOne>.lArrowNumOne {
    opacity: 1;
}

.switchRightNumOne:hover>.rArrowNumOne {
    opacity: 1;
}

.switchRightNumOne:hover>.lArrowNumOne {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Two */

.carouselTwo {
    position: relative;
    overflow-x: hidden;
}

.CBN2 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN2 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN2 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselTwo .CBN2 .switchRightTwo {
    position: absolute;
    right: 0px;
}

.carouselTwo .CBN2 .switchLeftTwo {
    position: absolute;
    left: 48px;
}

.CBN2 .switchRightTwo .rArrowTwo:hover,
.CBN2 .switchLeftTwo .lArrowTwo:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselTwo .CBN2 .switchLeftTwo:hover,
.carouselTwo .CBN2 .switchRightTwo:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselTwo .CBN2 .switchLeftTwo,
.carouselTwo .CBN2 .switchRightTwo {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowTwo,
.lArrowTwo {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN2:hover>.switchRightTwo>.rArrowTwo {
    opacity: 1;
}

.CBN2:hover>.switchLeftTwo>.lArrowTwo {
    opacity: 1;
}

.switchRightTwo:hover>.rArrowTwo {
    opacity: 1;
}

.switchRightTwo:hover>.lArrowTwo {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Three */

.carouselThree {
    position: relative;
    overflow-x: hidden;
}

.CBN3 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN3 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN3 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselThree .CBN3 .switchRightThree {
    position: absolute;
    right: 0px;
}

.carouselThree .CBN3 .switchLeftThree {
    position: absolute;
    left: 48px;
}

.CBN3 .switchRightThree .rArrowThree:hover,
.CBN3 .switchLeftThree .lArrowThree:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselThree .CBN3 .switchLeftThree:hover,
.carouselThree .CBN3 .switchRightThree:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselThree .CBN3 .switchLeftThree,
.carouselThree .CBN3 .switchRightThree {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowThree,
.lArrowThree {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN3:hover>.switchRightThree>.rArrowThree {
    opacity: 1;
}

.CBN3:hover>.switchLeftThree>.lArrowThree {
    opacity: 1;
}

.switchRightThree:hover>.rArrowThree {
    opacity: 1;
}

.switchRightThree:hover>.lArrowThree {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Four */

.carouselFour {
    position: relative;
    overflow-x: hidden;
}

.CBN4 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN4 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN4 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselFour .CBN4 .switchRightFour {
    position: absolute;
    right: 0px;
}

.carouselFour .CBN4 .switchLeftFour {
    position: absolute;
    left: 48px;
}

.CBN4 .switchRightFour .rArrowFour:hover,
.CBN4 .switchLeftFour .lArrowFour:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselFour .CBN4 .switchLeftFour:hover,
.carouselFour .CBN4 .switchRightFour:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselFour .CBN4 .switchLeftFour,
.carouselFour .CBN4 .switchRightFour {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowFour,
.lArrowFour {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN4:hover>.switchRightFour>.rArrowFour {
    opacity: 1;
}

.CBN4:hover>.switchLeftFour>.lArrowFour {
    opacity: 1;
}

.switchRightFour:hover>.rArrowFour {
    opacity: 1;
}

.switchRightFour:hover>.lArrowFour {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Five */

.carouselFive {
    position: relative;
    overflow-x: hidden;
}

.CBN5 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN5 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN5 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselFive .CBN5 .switchRightFive {
    position: absolute;
    right: 0px;
}

.carouselFive .CBN5 .switchLeftFive {
    position: absolute;
    left: 48px;
}

.CBN5 .switchRightFive .rArrowFive:hover,
.CBN5 .switchLeftFive .lArrowFive:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselFive .CBN5 .switchLeftFive:hover,
.carouselFive .CBN5 .switchRightFive:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselFive .CBN5 .switchLeftFive,
.carouselFive .CBN5 .switchRightFive {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowFive,
.lArrowFive {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN5:hover>.switchRightFive>.rArrowFive {
    opacity: 1;
}

.CBN5:hover>.switchLeftFive>.lArrowFive {
    opacity: 1;
}

.switchRightFive:hover>.rArrowFive {
    opacity: 1;
}

.switchRightFive:hover>.lArrowFive {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Six */

.carouselSix {
    position: relative;
    overflow-x: hidden;
}

.CBN6 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN6 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN6 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselSix .CBN6 .switchRightSix {
    position: absolute;
    right: 0px;
}

.carouselSix .CBN6 .switchLeftSix {
    position: absolute;
    left: 48px;
}

.CBN6 .switchRightSix .rArrowSix:hover,
.CBN6 .switchLeftSix .lArrowSix:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselSix .CBN6 .switchLeftSix:hover,
.carouselSix .CBN6 .switchRightSix:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselSix .CBN6 .switchLeftSix,
.carouselSix .CBN6 .switchRightSix {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowSix,
.lArrowSix {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN6:hover>.switchRightSix>.rArrowSix {
    opacity: 1;
}

.CBN6:hover>.switchLeftSix>.lArrowSix {
    opacity: 1;
}

.switchRightSix:hover>.rArrowSix {
    opacity: 1;
}

.switchRightSix:hover>.lArrowSix {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Seven */

.carouselSeven {
    position: relative;
    overflow-x: hidden;
}

.CBN7 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN7 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN7 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselSeven .CBN7 .switchRightSeven {
    position: absolute;
    right: 0px;
}

.carouselSeven .CBN7 .switchLeftSeven {
    position: absolute;
    left: 48px;
}

.CBN7 .switchRightSeven .rArrowSeven:hover,
.CBN7 .switchLeftSeven .lArrowSeven:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselSeven .CBN7 .switchLeftSeven:hover,
.carouselSeven .CBN7 .switchRightSeven:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselSeven .CBN7 .switchLeftSeven,
.carouselSeven .CBN7 .switchRightSeven {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowSeven,
.lArrowSeven {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN7:hover>.switchRightSeven>.rArrowSeven {
    opacity: 1;
}

.CBN7:hover>.switchLeftSeven>.lArrowSeven {
    opacity: 1;
}

.switchRightSeven:hover>.rArrowSeven {
    opacity: 1;
}

.switchRightSeven:hover>.lArrowSeven {
    opacity: 1;
}


/* ------------------------------------------ */