/* Carousel NumOne */

*.unsel {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carouselNumOne {
    position: relative;
    overflow-x: hidden;
    background-image: linear-gradient(180deg, hsla(0, 0%, 8%, 0) 0, hsla(0, 0%, 8%, .15) 15%, hsla(0, 0%, 8%, .35) 29%, hsla(0, 0%, 8%, .58) 44%, #141414 68%, #141414);
}

.CBN1 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN1 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN1 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselNumOne .CBN1 .switchRightNumOne {
    position: absolute;
    right: 0px;
}

.carouselNumOne .CBN1 .switchLeftNumOne {
    position: absolute;
    left: 48px;
}

.CBN1 .switchRightNumOne .rArrow:hover,
.CBN1 .switchLeftNumOne .lArrow:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselNumOne .CBN1 .switchLeftNumOne:hover,
.carouselNumOne .CBN1 .switchRightNumOne:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselNumOne .CBN1 .switchLeftNumOne,
.carouselNumOne .CBN1 .switchRightNumOne {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowNumOne,
.lArrowNumOne {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN1:hover>.switchRightNumOne>.rArrowNumOne {
    opacity: 1;
}

.CBN1:hover>.switchLeftNumOne>.lArrowNumOne {
    opacity: 1;
}

.switchRightNumOne:hover>.rArrowNumOne {
    opacity: 1;
}

.switchRightNumOne:hover>.lArrowNumOne {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Two */

.carouselTwo {
    position: relative;
    overflow-x: hidden;
}

.CBN2 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN2 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN2 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselTwo .CBN2 .switchRightTwo {
    position: absolute;
    right: 0px;
}

.carouselTwo .CBN2 .switchLeftTwo {
    position: absolute;
    left: 48px;
}

.CBN2 .switchRightTwo .rArrowTwo:hover,
.CBN2 .switchLeftTwo .lArrowTwo:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselTwo .CBN2 .switchLeftTwo:hover,
.carouselTwo .CBN2 .switchRightTwo:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselTwo .CBN2 .switchLeftTwo,
.carouselTwo .CBN2 .switchRightTwo {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowTwo,
.lArrowTwo {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN2:hover>.switchRightTwo>.rArrowTwo {
    opacity: 1;
}

.CBN2:hover>.switchLeftTwo>.lArrowTwo {
    opacity: 1;
}

.switchRightTwo:hover>.rArrowTwo {
    opacity: 1;
}

.switchRightTwo:hover>.lArrowTwo {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Three */

.carouselThree {
    position: relative;
    overflow-x: hidden;
}

.CBN3 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN3 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN3 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselThree .CBN3 .switchRightThree {
    position: absolute;
    right: 0px;
}

.carouselThree .CBN3 .switchLeftThree {
    position: absolute;
    left: 48px;
}

.CBN3 .switchRightThree .rArrowThree:hover,
.CBN3 .switchLeftThree .lArrowThree:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselThree .CBN3 .switchLeftThree:hover,
.carouselThree .CBN3 .switchRightThree:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselThree .CBN3 .switchLeftThree,
.carouselThree .CBN3 .switchRightThree {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowThree,
.lArrowThree {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN3:hover>.switchRightThree>.rArrowThree {
    opacity: 1;
}

.CBN3:hover>.switchLeftThree>.lArrowThree {
    opacity: 1;
}

.switchRightThree:hover>.rArrowThree {
    opacity: 1;
}

.switchRightThree:hover>.lArrowThree {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Four */

.carouselFour {
    position: relative;
    overflow-x: hidden;
}

.CBN4 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN4 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN4 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselFour .CBN4 .switchRightFour {
    position: absolute;
    right: 0px;
}

.carouselFour .CBN4 .switchLeftFour {
    position: absolute;
    left: 48px;
}

.CBN4 .switchRightFour .rArrowFour:hover,
.CBN4 .switchLeftFour .lArrowFour:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselFour .CBN4 .switchLeftFour:hover,
.carouselFour .CBN4 .switchRightFour:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselFour .CBN4 .switchLeftFour,
.carouselFour .CBN4 .switchRightFour {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowFour,
.lArrowFour {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN4:hover>.switchRightFour>.rArrowFour {
    opacity: 1;
}

.CBN4:hover>.switchLeftFour>.lArrowFour {
    opacity: 1;
}

.switchRightFour:hover>.rArrowFour {
    opacity: 1;
}

.switchRightFour:hover>.lArrowFour {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Five */

.carouselFive {
    position: relative;
    overflow-x: hidden;
}

.CBN5 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN5 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN5 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselFive .CBN5 .switchRightFive {
    position: absolute;
    right: 0px;
}

.carouselFive .CBN5 .switchLeftFive {
    position: absolute;
    left: 48px;
}

.CBN5 .switchRightFive .rArrowFive:hover,
.CBN5 .switchLeftFive .lArrowFive:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselFive .CBN5 .switchLeftFive:hover,
.carouselFive .CBN5 .switchRightFive:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselFive .CBN5 .switchLeftFive,
.carouselFive .CBN5 .switchRightFive {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowFive,
.lArrowFive {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN5:hover>.switchRightFive>.rArrowFive {
    opacity: 1;
}

.CBN5:hover>.switchLeftFive>.lArrowFive {
    opacity: 1;
}

.switchRightFive:hover>.rArrowFive {
    opacity: 1;
}

.switchRightFive:hover>.lArrowFive {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Six */

.carouselSix {
    position: relative;
    overflow-x: hidden;
}

.CBN6 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN6 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN6 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselSix .CBN6 .switchRightSix {
    position: absolute;
    right: 0px;
}

.carouselSix .CBN6 .switchLeftSix {
    position: absolute;
    left: 48px;
}

.CBN6 .switchRightSix .rArrowSix:hover,
.CBN6 .switchLeftSix .lArrowSix:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselSix .CBN6 .switchLeftSix:hover,
.carouselSix .CBN6 .switchRightSix:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselSix .CBN6 .switchLeftSix,
.carouselSix .CBN6 .switchRightSix {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowSix,
.lArrowSix {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN6:hover>.switchRightSix>.rArrowSix {
    opacity: 1;
}

.CBN6:hover>.switchLeftSix>.lArrowSix {
    opacity: 1;
}

.switchRightSix:hover>.rArrowSix {
    opacity: 1;
}

.switchRightSix:hover>.lArrowSix {
    opacity: 1;
}


/* ------------------------------------------ */


/* Carousel Seven */

.carouselSeven {
    position: relative;
    overflow-x: hidden;
}

.CBN7 {
    height: 250px;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
    display: flex;
    align-items: center;
}

.CBN7 img {
    height: 200px;
    background-size: cover;
    margin: 0px;
    padding-right: 10px;
    cursor: pointer;
    transition: .5s ease;
    z-index: 1;
}

.CBN7 img:hover {
    transform: scale(1.4);
    z-index: 2;
}

.carouselSeven .CBN7 .switchRightSeven {
    position: absolute;
    right: 0px;
}

.carouselSeven .CBN7 .switchLeftSeven {
    position: absolute;
    left: 48px;
}

.CBN7 .switchRightSeven .rArrowSeven:hover,
.CBN7 .switchLeftSeven .lArrowSeven:hover {
    transform: scale(1.2) !important;
    transition: .2s ease !important;
    opacity: 1;
}

.carouselSeven .CBN7 .switchLeftSeven:hover,
.carouselSeven .CBN7 .switchRightSeven:hover {
    background-color: rgba(20, 20, 20, .5);
    transition: 1s;
}

.carouselSeven .CBN7 .switchLeftSeven,
.carouselSeven .CBN7 .switchRightSeven {
    color: white;
    font-weight: bold;
    height: 200px;
    width: 65px;
    background-color: rgba(20, 20, 20, 0.1);
    margin-bottom: 30px;
    bottom: 0px;
    z-index: 4;
    text-decoration: none;
}

.rArrowSeven,
.lArrowSeven {
    width: 40px !important;
    height: 60px !important;
    margin-top: 100% !important;
    z-index: 3 !important;
    opacity: 0;
}

.CBN7:hover>.switchRightSeven>.rArrowSeven {
    opacity: 1;
}

.CBN7:hover>.switchLeftSeven>.lArrowSeven {
    opacity: 1;
}

.switchRightSeven:hover>.rArrowSeven {
    opacity: 1;
}

.switchRightSeven:hover>.lArrowSeven {
    opacity: 1;
}


/* ------------------------------------------ */