.header {
	background-color: rgb(20, 20, 20);
	background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(255, 255, 255, 0));
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

#browse {
	color: green;
	outline: 2px solid red;
	font-weight: 600;
	text-decoration: none;
}

#browse:hover {
	color: blue;
}

.browseSpacer {
	padding: 1.1%;
}

#browse {
	color: green;
	outline: 2px solid red;
	font-weight: 600;
	text-decoration: none;
}

#browse:hover {
	color: blue;
}

/* TEMP */

#testlink {
	font-weight: bold;
	color: white;
	float: right;
	position: relative;
	vertical-align: middle;
	margin-top: 0.5%;
}

/* right dropdown Styling */

.right-dropdown-wrapper {
	height: 100%;
	vertical-align: middle;
	float: right;
}

.account-dropdown {
	height: 32px;
	width: 32px;
	background-image: url(../Images/profilePictures/Futurama/3-3.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 10px;
	margin-right: 5vw;
	position: relative;
	vertical-align: middle;
	display: inline-block;
}

.dropdown-content {
	display: none;
	width: 200px;
	right: 90px;
	position: absolute;
	background-color: #000;
	min-width: 160px;
	z-index: 6;
	justify-content: center;
	opacity: 0.85;
	border: 1px solid rgba(73, 67, 67, 0.5);
}

.right-dropdown-wrapper:hover .dropdown-content {
	display: block;
}

.dropdown-inner {
	height: 100%;
	width: 100%;
	padding: 5%;
	display: inline-block;
}

.dropdown-line a {
	width: 100%;
	height: 100%;
	font-size: 13px;
	padding: 12px 0px 12px;
	color: aliceblue;
	text-decoration: none;
}

.dropdown-line img {
	font-size: 13px;
	margin-right: 5%;
	color: aliceblue;
	text-decoration: none;
}

.dropdown-line {
	display: inline-flex;
	height: 100%;
	width: 100%;
}

.dropdown-Leave {
	display: inline-flex;
	width: 100%;
	justify-content: center;
}

.dropdown-Leave a {
	width: 100%;
	font-size: 13px;
	color: aliceblue;
	padding: 12px 16px;
	text-decoration: none;
	text-align: center;
}

.dropdown-img-s,
.dropdown-tool-s {
	width: 25px;
	height: 25px;
}

/* .dropdown-tool-s {
	width: 25px;
	height: 25px;
} */

.dropdown-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	border-radius: 20%;
	margin-top: auto;
	margin-bottom: auto;
}

.piO1 {
	background-image: url(../Images/profilePictures/Futurama/3-4.png);
}

.piMP {
	background-image: url(../Images/icons/gear-svgrepo-com.svg);
	position: relative;
}

.piMP:hover {
	position: relative;
	animation: infinite;
	-webkit-animation: piMP-rotate 5s infinite linear;
}

.piHC {
	background-image: url(../Images/icons/help-svgrepo-com.svg);
}

.piHC:hover {
	position: relative;
	animation: infinite;
	-webkit-animation: piHC-scale 0.5s;
}

.piBP {
	background-image: url(../Images/icons/back-svgrepo-com.svg);
}

.piBP:hover {
	animation-name: in;
	animation-duration: 0.5s;
	animation-iteration-count: initial;
	transform: translateX(+10px);
	transition: transform 4s;
}

.dropdown-ignore-leave {
	padding-bottom: 5%;
	border: 1px solid rgba(73, 67, 67, 0.5);
}

@keyframes piMP-rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes piHC-scale {
	0% {
		-webkit-transform: scale(100%);
	}
	50% {
		-webkit-transform: scale(120%);
	}
	100% {
		-webkit-transform: scale(100%);
	}
}

@keyframes in {
	100% {
		-webkit-transform: translateX(10px);
	}
}

@keyframes out {
	100% {
		-webkit-transform: translateX(0px);
	}
}
